{% extends "main/base.html" %}
{% load static %}

{% block title %}
ГЛАВНАЯ | COFFEE HOUSE
{% endblock %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/intro.jpg' %}" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Свежее кофе</span>
                    <span class="section-heading-lower">Лучший напиток</span>
                </h2>
                <p class="mb-3">Каждая чашка нашего качественного состоит из лучших ингредиентов, отобранных вручную. Как только вы его попробуете, наш кофе станет приятным дополнением к вашей утренней рутине - мы это гарантируем!</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="https://yandex.by/maps/157/minsk/house/Zk4YcgRiSEAHQFtpfXR0d3VgYA==/?ll=27.432151%2C53.856934&z=16.39">Приходи ко мне на кофе!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Мы обещаем</span>
                        <span class="section-heading-lower">вам</span>
                    </h2>
                    <p class="mb-0">Когда вы заходите в наш магазин, чтобы начать свой день, мы стремимся предоставить вам дружелюбное обслуживание, гостеприимную атмосферу и, прежде всего, отличные продукты, изготовленные из ингредиентов высочайшего качества. Если вы не удовлетворены, сообщите нам об этом, и мы сделаем все возможное, чтобы все исправить!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}