{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
РЕГИСТРАЦИЯ
{% endblock %}

    {% block form %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'images/bg-01.jpg' %});">
					<span class="login100-form-title-1">
						РЕГИСТРАЦИЯ
					</span>
				</div>

				<form class="login100-form validate-form" method="post">
					{% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						{{ form.username }}
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
						<span class="label-input100">Email</span>
						{{ form.email }}
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						{{ form.password1 }}
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Re-password is required">
						<span class="label-input100">Password</span>
						{{ form.password2 }}
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">

						<div>
							<a href="{% url 'signin' %}" class="txt1">
								Если вы уже зарегистрированы, то пройдите по данной ссылке и авторизуйтесь.
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Registration
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    {% endblock %}